body {
    margin: 15px;
    font-family: Tahoma, Arial;
    line-height: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;

}
table, td {
    border: 1px solid black;
}

thead td {
    font-family: Arial;
}

tbody td {
    white-space: pre;
    font-family: monospace;
}

td {
    /* padding: 5px; */
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: monospace;
    padding: 2px 3px;
}

h3 {
    padding-top: 10px;
}

pre:not(pre[class="blocks"]) {
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
}

pre code {
    padding: 0px;
}

.blocks {
    margin: 0px;
    margin-top: 3px;
}
