body {
    margin: 0;
}

button {
    padding: 10px;

    background-color: rgb(71, 119, 239);

    color: white;

    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(61, 95, 209);
}


.header-btn {
    margin-left: 5px;
}

a:has(button.header-btn.left) {
    margin-left: auto;
}


#container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: Verdana;
}

#title {
    height: 40px;
    display: flex;

    margin-bottom: 5px;
    padding: 10px;

    background-color: rgb(9, 63, 163);
}

#title img {
    height: 40px;
}

#script-example {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

#script-example img {
    width: 35%;
    height: 35%;
}

#try-button {
    color: black;
    font-weight: 500;

    padding: 15px;
    background-color: rgb(194, 234, 221);
    border: 4px solid rgb(126, 204, 143);
    border-radius: 8px;
    transition: 0.3s;
    scale: 1.2;
}

#try-button:hover {
    background-color: rgb(168, 232, 191);
    border: 4px solid rgb(115, 203, 134);
    transition: 0.3s;
    scale: 1.4;
}

#try-container {
    height: 50px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#docs-button {
    color: black;
    font-weight: 400;

    padding: 10px;
    background-color: rgb(234, 229, 194);
    border: 4px solid rgb(208, 184, 113);
    border-radius: 8px;
    transition: 0.3s;
}

#docs-button:hover {
    background-color: rgb(222, 215, 162);
}
